include header

div(class='wrap')
	div(class='content')
		header(class='site-header')
			include site_header

		div(class='container')
			div(class='row')
				div(class='col col-md-12')
					h2 Login form
				div(class='col col-md-6')
					form(class='form')
						div(class='form-control')
							input(
								type='text',
								id='login',
								placeholder='Enter your login',
							)
						div(class='form-control')
							input(
								type='password',
								id='password',
								placeholder='Enter your password',
							)
						button(class='button-primary', type='submit') Login

		include nav
	include footer